# Ignorar arquivos de dados (Entrada e Saída)
*.pdf
*.csv
*.xlsx
*.json

# Ignorar ambiente virtual e cache do Python (Lixo técnico)
__pycache__/
*.py[cod]
.venv/
env/
venv/

# SEGURANÇA MÁXIMA (Nunca suba suas chaves!)
.env
api_keys.py